/* ----------------------------------------

Styles for Media Queries Practice Exercise
Author: Phoenix Pua

----------------------------------------- */
* {
    box-sizing: border-box;
}
body {
    background-color: skyblue;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
    border:10px solid goldenrod;
}


[class^="box"] {
  color:white;
  text-align: center;
  text-shadow:4px 4px 0 rgba(0,0,0,0.1);
  padding:10px;
  height: 24vh;
  margin-top: 5px;
  overflow: hidden;
}

.box1 { 
    background:#1abc9c;
    width: 100%;
}
.box2 { 
    background:#3498db;
    width: 32%;
}
.box3 { 
    background:#9b59b6;
    width: 32%;
}
.box4 {
    background:#34495e;
    width: 32%;
}
.box5 { 
    background:#f1c40f;
    width: 48%;
}
.box6 { 
    background:#e67e22;
    width: 48%;
}
.box7 { 
    background:#e74c3c;
    width: 23%;
}
.box8 { 
    background:#bdc3c7;
    width: 23%;
}
.box9 { 
    background:#2ecc71;
    width: 23%;
}
.box10 { 
    background:#16a085;
    width: 23%;
}

/* Tablet */
@media screen AND (min-width: 491px) and (max-width: 1024px) {
    body {
        background-color: pink;
    }
    .box1 { 
        width: 100%;
    }
    .box2 { 
        width: 48%;
    }
    .box3 { 
        width: 48%;
    }
    .box4 {
        width: 48%;
    }
    .box5 { 
        width: 48%;
    }
    .box6 { 
        width: 48%;
    }
    .box7 { 
        width: 48%;
    }
    .box8 { 
        width: 32%;
    }
    .box9 { 
        width: 32%;
    }
    .box10 { 
        width: 32%;
    }
    
}

/* Phone */
@media screen and (max-width: 490px) {
    body {
        background-color: lightgreen;
    }
    .box1 { 
        width: 100%;
    }
    .box2 { 
        width: 48%;
    }
    .box3 { 
        width: 48%;
    }
    .box4 {
        width: 100%;
    }
    .box5 { 
        width: 100%;
    }
    .box6 { 
        width: 100%;
    }
    .box7 { 
        width: 100%;
    }
    .box8 { 
        width: 100%;
    }
    .box9 { 
        width: 100%;
    }
    .box10 { 
        width: 100%;
    }
    
}